.slide-background.intro {
  background: #f79c34;
  background: -moz-linear-gradient(left, rgba(247, 156, 52, 1) 0%, rgba(230, 179, 39, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247, 156, 52, 1)), color-stop(100%, rgba(230, 179, 39, 1)));
  background: -webkit-linear-gradient(left, rgba(247, 156, 52, 1) 0%, rgba(230, 179, 39, 1) 100%);
  background: -o-linear-gradient(left, rgba(247, 156, 52, 1) 0%, rgba(230, 179, 39, 1) 100%);
  background: -ms-linear-gradient(left, rgba(247, 156, 52, 1) 0%, rgba(230, 179, 39, 1) 100%);
  background: linear-gradient(to right, rgb(195, 123, 40) 0%, rgb(187, 147, 36) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f79c34', endColorstr='#e6b327', GradientType=1);
}

.intro h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 48px;
  color: #fff;
  margin-bottom: 0;
}

.intro h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #e0e0e0;
  margin: 48px 0 0;
}

.intro ul {
  display: inline-block;
  list-style-type: none;
  width: 500px;
  padding: 0;
  margin-top: -10px;
  opacity: .8;
  max-width: 95%;
}

.intro ul img {
  max-width: 100%;
  height: 75px;
  vertical-align: middle;
}

.intro ul li {
  height: 100px;
  width: 25%;
  padding: 10px;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

.header-wrapper {
  position: absolute;
  top: calc(100% - 55px);
  height: 55px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to right, rgb(195, 123, 40) 0%, rgb(187, 147, 36) 100%);
  display: none;
}

.header-wrapper.transition-enabled {
  /*transition: .2s ease height, .2s ease top;*/
  display: block;
}

.header-wrapper .header {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.header-wrapper .header img {
  position: absolute;
  top: 7.5%;
  height: 80%;
  left: 0;
}

.header-wrapper .header h2 {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  /*transition: .3s ease opacity;*/
}

.large .header-wrapper {
  height: 100px;
  top: 0;
}

.large .header-wrapper h2, .large .slide-number {
  opacity: 0;
}

.overview p {
  /*text-align: left;*/
  font-size: 24px;;
}
